@mixin about {
  #about {
    width: 100vw;
    height: 100vh;
    // padding: $base-spacing * 3;
    @include flex-column;
    justify-content: space-between;
    background-color: $light-bg;
    // background-color: $light-bg;

    #about-bg {
      position: absolute;
      top: 100vh;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: $light-bg;
    }

    * {
      text-align: center;
      align-items: center;
    }

    #about-title {
      z-index: 1;
      padding: $base-spacing *3;
      padding-top: $base-spacing * 5;
      text-align: center;
      // margin-bottom: $base-spacing * 3;

      h2 {
        margin-bottom: $base-spacing * 2;
      }

      p {
        padding: $base-spacing;
        text-align: justify;
        font-size: 14px;
      }
    }

    // @include show-hidden-anim;

    #hidden-txt {
      border: black solid 2px;
      padding: $base-spacing * 2;
      background-color: white;
      position: absolute;
      z-index: 10;
      width: 90%;
      // height: 10%;
      opacity: 1;
      // display: none;
      // animation: show-hidden 1.5s linear;
      color: black;

      p {
        text-align: justify;
        margin-bottom: $base-spacing * 2;
      }
    }

    section {
      z-index: 1;
      @include flex-column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      width: 100%;

      a {
        background-color: $primary;
        text-align: center;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        // border: black solid 2px;
        color: white;
        padding: 10px;
        margin: 0 auto;
        @include flex-column;
      }


      .about-panel {
        // padding: $base-spacing * 3;
        padding: $base-spacing $base-spacing * 3;
        display: grid;
        width: 100%;
        // grid-template-columns: 4vw auto auto auto 4vw;
        grid-template-rows: auto auto auto auto;
        // justify-content: start;
        align-content: start;
        align-items: start;
        font-size: 14px;

        h3 {
          grid-row: 2 / 3;
          font-weight: bold;
          text-align: left;
        }

        p {
          grid-row: 3 / 4;
          grid-column: 3 / 5;
          text-align: left;
        }

        a {
          grid-row: 1 / 5;
          text-align: center;

        }

        .about-icon {
          font-size: 40px;
        }

        .tech-icon {
          font-size: 32px;
        }

        div {
          width: 33%;
          height: 100%;
        }
      }

      .left-panel {
        position: relative;
        grid-template-columns: 4vw 70px auto 70px 4vw;
        bottom: 8px;

        a {
          grid-column: 2 / 3;
          margin-right: $base-spacing * 2;
        }

        h3 {
          grid-column: 3 / 5;
          padding: 0 0 $base-spacing * 2 $base-spacing *2;
        }

        p {
          padding-left: $base-spacing * 2;
        }
      }

      .right-panel {
        grid-template-columns: 4vw 70px auto 70px 4vw;

        a {
          grid-column: 4 / 5;
          text-align: right;
        }

        p {
          grid-column: 2 / 4;
        }

        h3 {
          grid-column: 2 / 3;
          text-align: left;
          padding-bottom: $base-spacing * 2;
        }
      }
    }
  }






  #skills {
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: #01929F;
    background-image: linear-gradient(rgb(2, 95, 104), #01929F);
    z-index: -2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2vh 0;

    h2 {
      width: 50%;
      color: white;
      font-size: 20px;
      padding: 0 $base-spacing;
      // padding-bottom: $base-spacing * 3;
    }

    section {
      // width: 100vw;
      @include flex-row;
      justify-content: center;
      align-items: center;

      ul {
        @include flex-column;
        flex-wrap: wrap;
        width: 50%;

        li {
          font-size: 14px;
          list-style-type: none;
          color: white;
        }
      }
    }

    #language-flex {
      @include flex-row;
      justify-content: center;
      // padding-right: 10vw;
      align-items: center;
      height: 30vh;
      width: 100vw;
      border-top-right-radius: 35%;
      border-bottom-right-radius: 35%;
      border-top: 4px $secondary solid;
      border-right: 3.5px $secondary solid;
      border-bottom: 4px $secondary solid;
      background-color: #007e8a;

      #language-text-flex {
        @include flex-row;

        #languages {
          align-items: flex-end;
          width: 50%;
        }
      }
    }

    #tools-flex {
      @include flex-row;
      justify-content: center;
      align-items: center;
      height: 30vh;
      position: relative;
      // left: 0;
      border-radius: 35% 0 0 35%;
      border-left: 3.5px $secondary solid;
      border-top: 4px $secondary solid;
      border-bottom: 4px $secondary solid;
      // padding-left: 10vw;
      background-color: #01626B;

      #tools-text-flex {

        @include flex-row;
        // justify-content: space-between;
        // align-items: center;
        // justify-content: center;


        #dev-tools {
          align-items: flex-start;
          width: 250px;
          flex-wrap: wrap;
          height: 100px;
        }
      }
    }

    #skills-flex {
      @include flex-row;
      justify-content: flex-start;
      padding-left: 10vw;
      align-items: center;
      height: 30vh;
      border-top-right-radius: 35%;
      border-bottom-right-radius: 35%;
      border-top: 4px $secondary solid;
      border-right: 3.5px $secondary solid;
      border-bottom: 4px $secondary solid;
      background-color: #02454b;


      #skills-text-flex {
        @include flex-row;
        // align-items: flex-start;
        justify-content: center;

        #other-skills {
          align-items: flex-end;
          flex-wrap: wrap;
        }
      }
    }
  }


  @media only screen and (min-width: 375px) {
    #about {
      section {
        width: 375px;
        a {
          width: 70px;
          height: 70px;
        }
        .about-panel {

          .about-icon {
            font-size: 45px;
          }
          .tech-icon {
            font-size: 40px;
          }
        }
      }
    }

    #skills {
      section {
        ul {
          li {
            font-size: 16px;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 768px) {

  }
}

// #skills {
//   text-align: center;
//   height: 100vh;
//   width: 100%;
//   background-color: #01929F;
//   background-image: linear-gradient(rgb(2, 95, 104), #01929F);
//   z-index: -2;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
//   padding: 2vh 0;

//   h2 {
//     color: white;
//     font-size: 20px;
//     padding-bottom: $base-spacing * 3;
//   }

//   section {
//     width: 90vw;

//     ul {
//       @include flex-column;
//       flex-wrap: wrap;

//       li {
//         font-size: 14px;
//         list-style-type: none;
//         color: white;
//       }
//     }
//   }

//   #language-flex {
//     @include flex-row;
//     justify-content: flex-start;
//     padding-left: 10vw;
//     align-items: center;
//     height: 30vh;
//     border-top-right-radius: 35%;
//     border-bottom-right-radius: 35%;
//     border-top: 4px $secondary solid;
//     border-right: 3.5px $secondary solid;
//     border-bottom: 4px $secondary solid;
//     background-color: #007e8a;

//     #language-text-flex {
//       @include flex-column;
//       flex-direction: column-reverse;
//       align-items: flex-start;
//       justify-content: center;

//       #languages {
//         align-items: flex-start;
//       }
//     }
//   }

//   #tools-flex {
//     @include flex-row;
//     justify-content: flex-start;
//     align-items: center;
//     height: 30vh;
//     position: relative;
//     left: 10vw;
//     border-radius: 35% 0 0 35%;
//     border-left: 3.5px $secondary solid;
//     border-top: 4px $secondary solid;
//     border-bottom: 4px $secondary solid;
//     padding-left: 10vw;
//     background-color: #01626B;

//     #tools-text-flex {

//       @include flex-column;
//       justify-content: space-between;
//       align-items: flex-start;
//       justify-content: center;


//       #dev-tools {
//         align-items: flex-start;
//         width: 250px;
//         flex-wrap: wrap;
//         height: 100px;
//       }
//     }
//   }

//   #skills-flex {
//     @include flex-row;
//     justify-content: flex-start;
//     padding-left: 10vw;
//     align-items: center;
//     height: 30vh;
//     border-top-right-radius: 35%;
//     border-bottom-right-radius: 35%;
//     border-top: 4px $secondary solid;
//     border-right: 3.5px $secondary solid;
//     border-bottom: 4px $secondary solid;
//     background-color: #02454b;


//     #skills-text-flex {
//       @include flex-column;
//       align-items: flex-start;
//       justify-content: center;

//       #other-skills {
//         align-items: flex-start;
//       }
//     }
//   }
// }
