@mixin about {

  #about {
    width: 100vw;
    height: 100vh;
    // padding: $base-spacing * 3;
    @include flex-column;
    justify-content: space-between;
    // background-color: white;
    background-color: $light-bg;

    // #about-bg {
    //   position: absolute;
    //   top: 100vh;
    //   left: 0;
    //   width: 100vw;
    //   height: 100vh;
    //   // background-color: white;
    //   background-color: $light-bg;
    // }

    * {
      text-align: center;
      align-items: center;
    }

    #about-title {
      z-index: 1;
      padding: $base-spacing * 5 $base-spacing *3 0 $base-spacing *3;
      text-align: center;
      width: 90%;
      // margin-bottom: $base-spacing * 3;

      h2 {
        margin-bottom: $base-spacing * 2;
      }

      p {
        padding: $base-spacing;
        text-align: justify;
        font-size: 14px;
      }
    }

    // @include show-hidden-anim;

    #hidden-txt {
      border: black solid 2px;
      padding: $base-spacing * 2;
      background-color: white;
      position: absolute;
      z-index: 10;
      width: 90%;
      // height: 10%;
      opacity: 1;
      // display: none;
      // animation: show-hidden 1.5s linear;
      color: black;

      p {
        text-align: justify;
        margin-bottom: $base-spacing * 2;
      }
    }

    section {
      z-index: 1;
      @include flex-column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      width: 100%;

      a {
        background-color: $primary;
        text-align: center;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        // border: black solid 2px;
        color: white;
        padding: 10px;
        margin: 0 auto;
        @include flex-column;
        text-shadow: rgb(68, 97, 93) 0px 2px 2px;
        box-shadow: 0 2px 8px -2px rgb(126, 126, 126);
      }


      .about-panel {
        // padding: $base-spacing * 3;
        padding: $base-spacing $base-spacing * 3;
        display: grid;
        width: 100%;
        // grid-template-columns: 4vw auto auto auto 4vw;
        grid-template-rows: auto auto auto auto;
        // justify-content: start;
        align-content: start;
        align-items: start;
        font-size: 14px;

        h3 {
          grid-row: 2 / 3;
          font-weight: bold;
          text-align: left;
        }

        p {
          grid-row: 3 / 4;
          grid-column: 3 / 5;
          text-align: left;
        }

        a {
          grid-row: 1 / 5;
          text-align: center;

        }

        .about-icon {
          font-size: 40px;
        }

        .tech-icon {
          font-size: 32px;
        }

        div {
          width: 33%;
          height: 100%;
        }
      }

      .left-panel {
        position: relative;
        grid-template-columns: 4vw 70px auto 70px 4vw;
        bottom: 8px;

        a {
          grid-column: 2 / 3;
          margin-right: $base-spacing * 2;
        }

        h3 {
          grid-column: 3 / 5;
          padding: 0 0 $base-spacing * 2 $base-spacing *2;
        }

        p {
          padding-left: $base-spacing * 2;
        }
      }

      .right-panel {
        grid-template-columns: 4vw 70px auto 70px 4vw;

        a {
          grid-column: 4 / 5;
          text-align: right;
        }

        p {
          grid-column: 2 / 4;
        }

        h3 {
          grid-column: 2 / 3;
          text-align: left;
          padding-bottom: $base-spacing * 2;
        }
      }
    }
  }





  #skills {
    max-height: 100vh;
    background-color: $light-bg;
    z-index: -2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    
    // padding-top: $base-spacing * 5;

    h2 {
      color: $tertiary;
      font-size: 20px;
      padding: 0 $base-spacing * 2;
      width: 48vw;
    }

    #skill-box-cont {

      padding: $base-spacing * 5;
      padding-bottom: $base-spacing * 2;
      height: 100%;
      @include flex-column;
      justify-content: space-between;
      // padding: $base-spacing * 5;
    }

    .skill-box {
      width: 100%;
      max-width: 420px;
      // min-height: 150px;
      max-height: 200px;
      height: 33%;
      
      margin-bottom: $base-spacing;
      @include flex-column;

      .text-flex {
        @include flex-row;
        width: 100%;
        height: 100%;
        border: 6px solid $primary;
        box-shadow: 0 2px 8px 3px lightgrey;
      }

      ul {
        width: 48vw;
        @include flex-column;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 $base-spacing * 2;

        li {
          font-size: 13px;
          list-style-type: none;
          color: white;
        }
      }
    }

    #language-flex {

      #language-text-flex {
        background: linear-gradient(90deg, white 0%, white 50%, $primary 50%, $primary 100%);
        border-top-left-radius: 25% 50%;
        border-bottom-right-radius: 25% 50%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        height: 100%;

        h2 {
          text-align: right;
        }

        #languages {
          align-items: flex-start;

        }
      }
    }

    #tools-flex {

      #tools-text-flex {
        background: linear-gradient(270deg, white 0%, white 50%, $primary 50%, $primary 100%);
        border-bottom-left-radius: 25% 50%;
        border-top-right-radius: 25% 50%;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        flex-direction: row-reverse;

        h2 {
          text-align: left;
        }

        #dev-tools {
          align-items: flex-end;
        }
      }
    }

    #skills-flex {
      @include flex-row;
      justify-content: flex-start;
      align-items: center;


      #skills-text-flex {
        background: linear-gradient(90deg, white 0%, white 50%, $primary 50%, $primary 100%);
        border-top-left-radius: 25% 50%;
        border-bottom-right-radius: 25% 50%;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;

        h2 {
          text-align: right;
        }
        
        #other-skills {
          align-items: flex-start;
        }
      }
    }
  }


  @media only screen and (min-width: 375px) {
    #about {
      section {
        width: 375px;
        a {
          width: 70px;
          height: 70px;
        }
        .about-panel {

          .about-icon {
            font-size: 45px;
          }
          .tech-icon {
            font-size: 40px;
          }
        }
      }
    }

    #skills {
      section {
        ul {
          li {
            font-size: 16px;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 768px) {
    #about {
      max-height: 45vh;
      // section{
      //   width: 100%;
      // }

      #skills-btn {
        display: none;
      }
      section {
        flex-direction: row;
      }
      #skill-panels {
        // border: red 10px solid;
        width: 80%;
        @include flex-row;
        justify-content: space-between;

        .right-panel.about-panel, .left-panel.about-panel {
          width: 25%;
          grid-template-rows: 90px 30px 40px;
          grid-template-columns: auto;
          bottom: 0px;
          text-align: center;

          a {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            margin: auto;
            // margin-right: $base-spacing * 2;
          }
  
          h3 {
            margin: auto;
            grid-column: 1 / 2;
            padding: 0;
          }
  
          p {
            text-align: center;
            grid-column: 1 / 2;
            margin: 0 auto;
            padding-left: $base-spacing * 2;
          }
        }
      }
    }
    #skills {
      max-height: 55vh;
      padding: 0 ;

      h2 {
        width: 100%;
      }
      
      #skill-box-cont {
        width: 100%;
        padding: 0 $base-spacing * 5 $base-spacing * 5 $base-spacing * 5;
        flex-direction: row;
        justify-content: space-evenly;

        .skill-box {
          flex-direction: row;
          max-width: 300px;
          height: 100%;
          max-height: 100%;
          padding: 0 $base-spacing * 2;

          ul {
            width: 100%;

            li {
            font-size: 16px;
            }
          }

          .text-flex, #tools-text-flex, #language-text-flex {
            flex-direction: column;
            justify-content: flex-start;
            height: 250px;

            h2 {
              display: inline;
              vertical-align: middle;
              padding: $base-spacing * 3 0;
            }
          }
        }
      }

      #language-flex {

        #language-text-flex {
          background: linear-gradient(180deg, white 0%, white 53.5px, $primary 53.5px, $primary 100%);
          border-bottom-left-radius: 25% ;
          border-top-right-radius: 25%;
          border-top-left-radius: 10px;
          border-bottom-right-radius: 10px;
          height: 100%;
  
          h2 {
            text-align: center;
          }
  
          #languages {
            align-items: center;
            justify-content: center;
            height: 100%;
          }
        }
      }
  
      #tools-flex {
  
        #tools-text-flex {
          background: linear-gradient(180deg, white 0%, white 53.5px, $primary 53.5px, $primary 100%);
          border-top-right-radius: 25%;
          border-top-left-radius: 25%;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          flex-direction: row-reverse;
  
          h2 {
            text-align: center;
          }
 
          #dev-tools {
            align-items: center;
            justify-content: center;
            height: 100%;
          }
        }
      }
  
      #skills-flex {
        @include flex-row;
        justify-content: flex-start;
        align-items: center;
  
        #skills-text-flex {
          background: linear-gradient(180deg, white 0%, white 53.5px, $primary 53.5px, $primary 100%);
          border-top-right-radius: 25%;
          border-top-left-radius: 25%;
          border-bottom-right-radius: 25%;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 10px;

          h2 {
            text-align: center;
          }
          
          #other-skills {
            align-items: center;
            justify-content: center;
            height: 100%;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 1106px) {
    #about {
      #about-title {
        p {
          text-align: center;
        } 
      }
    }
  }
}