@import "./palette.scss";
@import "./variables.scss";

@mixin nav-anim {
    transition: 1s cubic-bezier(.52,.35,.5,1);
}

@mixin nav-button-anim {

	#nav-btn-anim a::before,
	#nav-btn-anim a::after {
		position: absolute;
		width: $base-spacing * 5;
		height: 1.5px;
		background: #fff;
		content: '';
		transition: all 0.3s;
		pointer-events: none;
	}

	#nav-btn-anim a::after {
		opacity: 1;
	}

	#nav-btn-anim a::before {
		top: 6px;
		left: 0;
		transform: rotate(90deg);
		transform-origin: 0 3px;
	}

	#nav-btn-anim a::after {
		right: 0;
		bottom: 8px;
		transform: rotate(90deg);
		transform-origin: 100% 3px;
	}

	#nav-btn-anim a:hover::before,
	#nav-btn-anim a:hover::after,
	#nav-btn-anim a:focus::before,
	#nav-btn-anim a:focus::after {
		background: $secondary;
		width: 20px;
	}

	#nav-btn-anim a:hover::before,
	#nav-btn-anim a:focus::before {
		margin-top: -5px;
		left: 50%;
		transform: rotate(0deg) translateX(-50%);
	}

	#nav-btn-anim a:hover::after,
	#nav-btn-anim a:focus::after {
		margin-bottom: -8px;
		right: 50%;
		transform: rotate(0deg) translateX(50%);
	}
}

@mixin bot-btn-anim {

	.bot-btn-anim a::before,
	.bot-btn-anim a::after {
		display: inline-block;
		opacity: 0;
		transition: transform 0.3s, opacity 0.2s;
	}

	.bot-btn-anim a::before {
		margin-right: 10px;
		content: '[';
		transform: translateX(20px);
	}

	.bot-btn-anim a::after {
		margin-left: 10px;
		content: ']';
		transform: translateX(-20px);
	}

	.bot-btn-anim a:hover::before,
	.bot-btn-anim a:hover::after,
	.bot-btn-anim a:focus::before,
	.bot-btn-anim a:focus::after {
		opacity: 1;
		transform: translateX(0px);
	}
}

@mixin rotation {
	@keyframes rotation {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(359deg);
		}
	}
}

@mixin circles {
	#circles {
		pointer-events: none;
		position: absolute;
		@include flex-column;
		width: 100vw;
		height: 100vh;
		margin: auto;
		@include rotation;

		#circle1 {
			width: 25vw;
			height: 25vw;
			border-top: white 2px solid;
			border-radius: 100%;
			margin: auto;
			position: absolute;
			animation: rotation 6s infinite linear;
		}

		#circle2 {
			width: 47vw;
			height: 47vw;
			border-bottom: white 2px solid;
			border-radius: 100%;
			margin: auto;
			position: absolute;
			animation: rotation 10s infinite linear;
			animation-direction: reverse;
		}

		#circle3 {
			width: 70vw;
			height: 70vw;
			border-top: white 2px solid;
			border-radius: 100%;
			margin: auto;
			position: absolute;
			animation: rotation 15s infinite linear;
			background-color: none;
		}
	}
}

@mixin arrow-animation {
	@keyframes arrow {
		0% {
			opacity: 0;
			transform: rotate(45deg) translate(-15px, -15px);
		}

		50% {
			opacity: 1;
		}

		100% {
			opacity: 0;
			transform: rotate(45deg) translate(0px, 0px);
		}
	}
}

@mixin show-hidden-anim {
	@keyframes show-hidden-anim {
		0% {
			opacity: 0;
		}
	}
}

@mixin projects-anim {
	.box-anim-in {
		transition: 0.3s ease-in-out;
	}
	.box-anim-out {
		transition: 0.4s ease-in-out 0.2s;
	}

	.desc-anim-in {
		transition: all 0.25s ease-in-out 0.05s;
	}
	.desc-anim-out {
		transition: all 0.2s ease-in-out 0.21s;
	}

	.conc-anim-in {
		transition: all 0.25s ease-in-out 0.15s;
	}
	.conc-anim-out {
		transition: all 0.2s ease-in-out 0.12s;
	}

	.icon-anim-in {
		transition: all 0.25s ease-in-out 0.2s;
	}
	.icon-anim-out {
		transition: all 0.18s ease-in-out 0s;
	}

	.spin-out {
		transition: all 0.3s ease-in-out 0s;
		filter: blur(3px);
		transform: rotate(180deg) scale(.5);
		opacity: 0;
	}

	.return-ico {
		transform: rotate(0deg) scale(1);
		transition: all 0.3s ease-in-out 0s;
		opacity: 1;
	}
}

@mixin blog-anim {
	#blog {
		#blog-posts {
			.blog-post {
				pointer-events: none;

			.modal-box.show-blog {
				animation: show-blog 2s ease-out;	
				animation-fill-mode: forwards;	
				box-shadow: 1px 4px 14px 8px lightgrey;
			}

			.modal-box.hide-blog {
				animation: show-blog 2s ease-out;	
				animation-fill-mode: forwards;	
				animation-direction: reverse
			}

			.show-blog-btn {
				animation: show-blog-btn 2s ease-out;	
			}

			.show-modal-content, .show-modal-content img, p {
				opacity: 1 !important;
			}

			// .show-modal-content h3 {
			// 	transition-delay: 1s;
			// }
		}

		}
	}

	@keyframes show-blog {
		0% {
			// pointer-events: initial;
			top: -40px;
		}
	
		30% {
			top: 10vh;

		}
		60% {
			top: 10vh;
		}

		100% {
			top: 10vh;
			height: 80vh;

		}
	}

	@keyframes show-blog-btn {
		0% {
			// pointer-events: initial;
			top: -40px;
		}
	
		30% {
			top: 12vh;

		}
		60% {
			top: 12vh;
		}

		100% {
			top: 12vh;
		}
	}
}

@mixin recaptchaAnim {
	// #contact {
	// 	#contact-flex {

	// 	}
	// }

	#recaptcha-cont {
		animation: show-captcha 1s ease-out;	
	}


	@keyframes show-captcha {
		0% {

		}
	}
}


















// #circle-cont {
//   position: absolute;
//   @include flex-column;
//   width: 100vw;
//   height: 90vh;
//   margin: auto;

//   #circle-cont2 {
//     position: absolute;
//     width: 55vw;
//     height: 55vw;
//     // position: absolute;
//     animation: rotation 50s infinite linear;
//     animation-direction: reverse;

//     #circle1 {
//       position: absolute;
//       margin: auto;
//       // margin-right: 15vh;
//       // margin-bottom: 15vh;
//       // top: 50vh;
//       // left: 35vw;
//       width: 15vh;
//       height: 15vh;
//       background-image: url(./images/circle-vector.png);
//       background-size: cover;
//       background-repeat: no-repeat;
//       animation: rotation 30s infinite linear;
//       animation-direction: normal;
//     }
//   }
// }