@import "./palette.scss";
@import "./variables.scss";

@mixin rotation {
	@keyframes rotation {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(359deg);
		}
	}
}

@mixin nav-button-anim {

	#nav-btn-anim a::before,
	#nav-btn-anim a::after {
		position: absolute;
		width: $base-spacing * 5;
		height: 1.5px;
		background: #fff;
		content: '';
		/* opacity: 1; */
		transition: all 0.3s;
		pointer-events: none;
	}

	#nav-btn-anim a::after {
		opacity: 1;
	}

	#nav-btn-anim a::before {
		top: 6px;
		left: 0;
		transform: rotate(90deg);
		transform-origin: 0 3px;
	}

	#nav-btn-anim a::after {
		right: 0;
		bottom: 8px;
		transform: rotate(90deg);
		transform-origin: 100% 3px;
	}

	#nav-btn-anim a:hover::before,
	#nav-btn-anim a:hover::after,
	#nav-btn-anim a:focus::before,
	#nav-btn-anim a:focus::after {
		background: $secondary;
		width: 20px;

	}

	#nav-btn-anim a:hover::before,
	#nav-btn-anim a:focus::before {
		margin-top: -5px;
		left: 50%;
		transform: rotate(0deg) translateX(-50%);
	}

	#nav-btn-anim a:hover::after,
	#nav-btn-anim a:focus::after {
		margin-bottom: -8px;
		right: 50%;
		transform: rotate(0deg) translateX(50%);
	}
}

@mixin bot-btn-anim {

	.bot-btn-anim a::before,
	.bot-btn-anim a::after {
		display: inline-block;
		opacity: 0;
		transition: transform 0.3s, opacity 0.2s;
	}

	.bot-btn-anim a::before {
		margin-right: 10px;
		content: '[';
		transform: translateX(20px);
	}

	.bot-btn-anim a::after {
		margin-left: 10px;
		content: ']';
		transform: translateX(-20px);
	}

	.bot-btn-anim a:hover::before,
	.bot-btn-anim a:hover::after,
	.bot-btn-anim a:focus::before,
	.bot-btn-anim a:focus::after {
		opacity: 1;
		transform: translateX(0px);
	}
}

@mixin circles {
	#circles {
		pointer-events: none;
		position: absolute;
		@include flex-column;
		width: 100vw;
		height: 100vh;
		margin: auto;
		@include rotation;

		#circle1 {
			width: 300px;
			height: 300px;
			border-top: white 2px solid;
			border-radius: 100%;
			margin: auto;
			position: absolute;
			animation: rotation 3s infinite linear;
			animation-direction: reverse;
		}

		#circle2 {
			width: 30vw;
			height: 30vw;
			border-top: white 2px solid;
			border-radius: 100%;
			margin: auto;
			position: absolute;
			animation: rotation 6s infinite linear;
		}

		#circle3 {
			width: 65vw;
			height: 65vw;
			border-top: white 2px solid;
			border-radius: 100%;
			margin: auto;
			position: absolute;
			animation: rotation 10s infinite linear;
			animation-direction: reverse;
		}

		#circle4 {
			width: 85vw;
			height: 85vw;
			border-top: white 2px solid;
			border-radius: 100%;
			margin: auto;
			position: absolute;
			animation: rotation 15s infinite linear;
			background-color: none;
		}
	}
}

@mixin arrow-animation {
	@keyframes arrow {
		0% {
			opacity: 0;
			transform: rotate(45deg) translate(-15px, -15px);
		}

		50% {
			opacity: 1;
		}

		100% {
			opacity: 0;
			transform: rotate(45deg) translate(0px, 0px);
		}
	}
}

@mixin show-hidden-anim {
	@keyframes show-hidden-anim {
		0% {

			opacity: 0;
		}
	}
}






















// #circle-cont {
//   position: absolute;
//   @include flex-column;
//   width: 100vw;
//   height: 90vh;
//   margin: auto;

//   #circle-cont2 {
//     position: absolute;
//     width: 55vw;
//     height: 55vw;
//     // position: absolute;
//     animation: rotation 50s infinite linear;
//     animation-direction: reverse;

//     #circle1 {
//       position: absolute;
//       margin: auto;
//       // margin-right: 15vh;
//       // margin-bottom: 15vh;
//       // top: 50vh;
//       // left: 35vw;
//       width: 15vh;
//       height: 15vh;
//       background-image: url(./images/circle-vector.png);
//       background-size: cover;
//       background-repeat: no-repeat;
//       animation: rotation 30s infinite linear;
//       animation-direction: normal;
//     }
//   }
// }