@import "./palette.scss";
@import "./variables.scss";
@import "./animation.scss";

@mixin blog {
    @include blog-anim;

    #blog {
        background-color: white;
        padding: 0 $base-spacing * 3;
        @include flex-column;
        justify-content: space-between;

        h2 {
            color: black;
            padding-top: $base-spacing * 5;
        }

        #blog-posts {
            @include flex-column;
            justify-content: space-between;

            .blog-post {
                z-index: 80;
                border-radius: $border-radius;
                padding: $base-spacing * 4;
                box-shadow: 0 0 12px 2px lightgrey;
                text-align: center;
                width: 280px;
                background-color: $light-bg;
                transition: 0.3s ease-in-out;
                pointer-events: initial;

                &.ignore-mouse {
                    pointer-events: none;
                  }

                &:hover {
                    cursor: pointer;
                    box-shadow: 0 0 14px 8px lightgrey;
                }

                .blog-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: $base-spacing * 2 0;
                }

                h3 {
                    color: black;
                    text-align: left;
                    border-bottom: $primary solid 2px;
                    padding-bottom: $base-spacing;
                }

                span, h3 {
                    transition-delay: 1.1s;
                }

                h4 {
                    padding-bottom: $base-spacing;
                    transition-delay: 1.3s;
                }

                img {
                    width: 100%;
                    border-radius: $border-radius;
                    margin-bottom: $base-spacing * 2;
                    transition-delay: 1.5s;
                }

                p {
                    transition-delay: 1.7s;
                }

                .blog-summary {
                    text-align: left;
                }

                .modal-box {
                    background-color: $light-bg;
                    width: 90%;
                    height: 30px;
                    border-radius: $border-radius;
                    border: $primary 2px solid;
                    position: fixed;
                    top: -40px;
                    left: 5%;
                    padding: $base-spacing $base-spacing * 4;
                    overflow-y:scroll;
                    cursor: default;
                    max-height: 80vh;
                    pointer-events: auto;  

                    span {
                        @include flex-column;
                        width: 30px;
                        height: 30px;
                        background-color: black;
                        mix-blend-mode: difference;
                        position: fixed;
                        border-radius: 10px;
                        right: 8%;
                        color: white;
                        font-size: 20px;
                        cursor: pointer;

                        &:hover {
                            text-shadow: 0 0 1px rgb(0, 0, 0);
                            background-color: #fb3640;
                        }
                    }   

                    img {
                        margin-bottom: $base-spacing * 4;
                    }

                    h3 {
                        color: $primary;
                        border-bottom: $tertiary 2px solid;
                    }

                    h4 {
                        color: $primary;
                    }

                    h4, p {
                        text-align: left;
                        padding-bottom: $base-spacing * 4;
                    }

                    .modal-content, .modal-content img, p {
                        transition: 2.7s ease-in-out;
                        opacity: 0;
                    }
                }
            }
        }
    }
}