@import "./palette.scss";
@import "./variables.scss";
@import "./animation.scss";

@mixin bot-nav-buttons {
    @include bot-btn-anim;

    #projects-button {
        margin-top: $base-spacing * 2;
    }

    #blog-button {
        margin: 0;
        padding-bottom: $base-spacing * 3;
    }

    .bot-mid-button.light-bg-button {
        .botnav-button {
            box-shadow: 0 0 0 0;
            color: white;
            background: $primary;
            position: relative;
            bottom: 0;
            box-shadow: 0 2px 8px -2px rgb(126, 126, 126);

            &:hover {
                bottom: 4px;
                width: 155px;
                color: $primary;
                background: $secondary;
                padding: $base-spacing * 2;
                box-shadow: 0 2px 7px 0 rgb(184, 190, 180);
              }
        }
    }

    .bot-mid-button {
        // margin: $base-spacing * 2 auto $base-spacing * 7 auto;
        // padding-bottom: 5vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // height: 55px;
        min-height: 10vh; 
        // padding-bottom: $base-spacing * 4;     
        margin-bottom: $base-spacing * 2;
    
        .botnav-button {
            position: relative;
            font-size: 20px;
            color: white;
            text-decoration: none;
            width: 150px;
            text-align: center; 
            z-index: 1;
            box-shadow: 0 0 0 2px white;
            border-radius: $border-radius;
            transition: 0.5s;
            padding: $base-spacing * 1.5;
            bottom: 0;
            // margin-bottom: $base-spacing * 2;
    
          &:hover {
            color: $primary;
            background: $secondary;
            box-shadow: 0 0 0 0;
            }
        }
      }
          
    .arrow{
    // margin: 0 auto;
    position: relative;
    left: 2px;
    // padding: $base-spacing * 2 0 0 0;

        .borderClass {
            border-bottom: 4px solid $primary;
            border-right: 4px solid $primary;
            animation: arrow 2s infinite;

            @include arrow-animation
        }

        span{
            transition: 1s;
            display: block;
            width: 20px;
            height: 20px;
            margin: -15px;
        }
    }

    @media only screen and (min-width: 375px) {
        .bot-mid-button {
            margin-bottom: $base-spacing * 3;
            height: 55px;
        }
        .arrow {
            span{
                transition: 1s;
                display: block;
                width: 25px;
                height: 25px;
                margin: -15px;
            }
        }
    }

    @media only screen and (min-width: 768px) {
        .bot-mid-button {
            height: 80px; 
            font-size: 25px;
            margin-bottom: $base-spacing * 7;
            .botnav-button {
                width: 150px;
                padding: $base-spacing * 2;

            }
        }
        .skills-button {
            display: none;
        }
    }
}