@import "./palette.scss";
@import "./variables.scss";
@import "./animation.scss";

@mixin contact {
    #contact {
        background-color: $primary-bg-darker;
        min-height: 100vh;
        max-height: 100vh;
        @include flex-column;

        h2 {
            padding: $base-spacing * 5;
            padding-bottom: $base-spacing * 3;
            color: white;
            text-align: center;
            color: #fff;
        }

        .submit-form-msg {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: $base-spacing * 2;
            align-items: center;
            background-color: $light-bg;
            color: $primary-bg-darker;
            border: $primary 1.5px solid;
            border-radius: $border-radius;
            position: fixed;
            box-shadow: 0 0 12px -6px lightgrey;
            transform: translateY(-110vh);
            transition-duration: 1s;
            // margin: auto;
            width: 250px;
            height: 120px;
            pointer-events: none;
            top: calc(50vh - 60px);
            left: calc(50vw - 150px);
            z-index: 499;

            .submit-text {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: 1;
                margin-bottom: $base-spacing*2;
            }

            .submit-text-btn {       
                width: 80px;
                height: 25px;
                // padding: $base-spacing * 1.5;
                // text-align: center;
                color: white;
                background: $primary;
                border: $primary 1.5px solid;
                border-radius: $border-radius;
                // border-style: none;
                cursor: pointer;
                transition-duration: 0.2s;
                &:hover {
                    // border: $primary 1.5px solid;
                    color: $primary;
                    background: white;                    
                }        
            }
        }

        .submit-form-msg.submit-form-clicked {
            transform: translateX(0);
            pointer-events: unset;
        }

        .contact-wrapper {

            @include flex-column;
            margin: 0 auto;
            padding: 0 $base-spacing * 6;
            position: relative;
            max-width: 500px;
            width: 100%;
            height: 100%;

            #contact-flex {
                height: 100%;
                width: 100%;
                padding-bottom: $base-spacing * 3;
                @include flex-column;

                .contact-form {
                    @include flex-column;
                    width: 100%;                    

                    #message-box {
                        resize: none;
                        height: 100px;
                        min-height: 50px;
                    }

                    #recaptcha-cont {                        

                        .recaptcha-box {
                            margin-bottom: 0;
                            transition-duration: 1s;
                            height: 0px;
                            opacity: 0;
                            transform: translateY(-100px);
                            // display: none;                        
                            border-radius: $border-radius;
                            pointer-events: none;
                        }
                        .show-captcha {
                            margin-bottom: $base-spacing * 4;
                            height: 75px;
                            opacity: 1;
                            transform: translateY(0px);
                            pointer-events: unset;
                            // display: unset;                        
                        }
                    }

                    #submit {
                        padding: $base-spacing;
                    }

                    .form-box {
                        font-size: 14px;
                        padding: $base-spacing * 1.5;
                        width: 100%;
                        background-color: $light-bg;
                        border-radius: $border-radius;
                        color: $primary-bg-darker;
                        letter-spacing: 0.3px;
                        margin-bottom: $base-spacing * 3;
                    }

                    .send-button {
                        text-decoration: none;
                        border: none;
                        background-color: $secondary;
                        height: 40px;
                        width: 100%;
                        overflow: hidden;
                        transition: all .2s ease-in-out;

                        .button {
                            cursor: pointer;
                            height: 80px;
                            transition: all .3s ease-in-out;

                            .send-icon {
                                padding-top: 2.5px;
                                padding-bottom: 25px;
                                font-size: 25px;
                                color: $primary-bg-darker;
                            }

                            &:hover {
                                transform: translate3d(0px, -60px, 0px);
                                }
                            }
                            
                        .send-text {
                            display: block;
                            margin-top: 15px;
                            height: 30px;
                            font-weight: bold;
                        }
                    }
                }
                
                .contact-details {
                    max-width: 800px;
                    width: 100%;
                    margin-top: $base-spacing * 2;
                    @include flex-column;

                    .contact-icons {
                        @include flex-row;
                        justify-content: space-evenly;
                        align-items: flex-end;
                        pointer-events: auto;
                        position: relative;
                        font-size: 25px;
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        color: white;
                        padding-top: $base-spacing;
                        padding-bottom: $base-spacing *5;

                        .cv-cont {
                            @include flex-column;

                            .cv-link {
                                @include flex-column;
                                width: 28px;
                                height: 28px;
                                background-color: black;
                                border-radius: 100%;
                                text-decoration: none;

                                .cv-text {
                                    background-color: transparent;
                                    @include flex-column;
                                    font-size: 20px;
                                    color: white;
                                    font-weight: 700;
                                    width: 28px;
                                }
                            }
                        }

                        .hover-cv-icon {
                            background-color: black;

                            .cv-link {
                                background-color: white;

                                .cv-text {
                                    color: black;
                                }
                            }
                        }

                        li {
                            position: relative;
                            top: 0;
                            display: inline-block;
                            height: 40px;
                            width: 40px;
                            line-height: 40px;
                            border-radius: 50%;
                            color: #fff;
                            background-color: #fff;
                            cursor: pointer;
                            transition: all .2s ease-in-out;

                            &:hover {
                                background-color: black;
                            }
    
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 40px;
                                height: 40px;
                                line-height: 40px;
                                border-radius: 50%;
                                opacity: 0;
                                box-shadow: 0 0 0 1px $secondary;
                                transition: all .2s ease-in-out;
                            }

                            &:hover:after {
                                opacity: 1;
                                transform: scale(1.12);
                                transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);        
                            }

                            a {
                                pointer-events: auto;
                                color: black;
                                margin: auto;
                            }

                            &:hover a {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 375px) {
        #contact {
            h2 {
                padding-bottom: $base-spacing * 5;
            }
            .contact-wrapper {
                padding: 0 $base-spacing * 8;
                #contact-flex {
                    padding-bottom: $base-spacing * 5;
                    .contact-form {
                        .form-box {
                            padding:$base-spacing * 2;
                            margin-bottom:  $base-spacing * 4;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 425px) {
        #contact {
            .contact-wrapper {
                #contact-flex {
                    .contact-details {
                        .contact-icons {
                            padding-bottom: $base-spacing *3;
                            font-size: 30px;

                            .cv-cont {
                                .cv-link {
                                    width: 32px;
                                    height: 32px;
                                    .cv-text {
                                        font-size: 23px;
                                    }
                                }
                            }

                            li {
                                height: 45px;
                                width: 45px;
                                line-height: 45px;
                                
                                &:after {
                                    width: 45px;
                                    height: 45px;
                                    line-height: 45px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

    
