@import "./palette.scss";
@import "./variables.scss";
@import "./animation.scss";

@mixin contact {
    #contact {
        background-color: $primary-bg-darker;
        min-height: 100vh;
        max-height: 100vh;
        @include flex-column;

        h2 {
            padding: $base-spacing * 5;
            padding-bottom: $base-spacing * 3;
            color: white;
            text-align: center;
            color: #fff;
        }

        .contact-wrapper {

            @include flex-column;
            margin: 0 auto;
            padding: 0 $base-spacing * 6;
            position: relative;
            max-width: 500px;
            width: 100%;
            height: 100%;

            #contact-flex {
                height: 100%;
                width: 100%;
                @include flex-column;

                .contact-form {
                    @include flex-column;
                    width: 100%;

                    #name, #email {
                        padding:$base-spacing * 1.5;
                    }

                    #message-box {
                        resize: none;
                        height: 100px;
                        min-height: 50px;
                    }

                    .form-box {
                        padding: $base-spacing;
                        width: 100%;
                        background-color: $light-bg;
                        border-radius: 6px;
                        color: $primary-bg-darker;
                        letter-spacing: 1px;
                        margin-bottom: $base-spacing * 3;
                    }

                    .send-button {
                        text-decoration: none;
                        border: none;
                        background-color: $secondary;
                        height: 40px;
                        width: 100%;
                        overflow: hidden;
                        transition: all .2s ease-in-out;

                        .button {
                            cursor: pointer;
                            height: 80px;
                            transition: all .3s ease-in-out;

                            .send-icon {
                                padding-top: 2.5px;
                                padding-bottom: 25px;
                                font-size: 25px;
                                color: $primary-bg-darker;
                            }

                            &:hover {
                                transform: translate3d(0px, -60px, 0px);
                                }
                            }
                            
                        .send-text {
                            display: block;
                            margin-top: 15px;
                            height: 30px;
                            font-weight: bold;
                        }
                    }
                }
                
                .contact-details {
                    max-width: 800px;
                    width: 100%;
                    margin-top: $base-spacing * 2;
                    @include flex-column;

                    .contact-list {
                        margin: $base-spacing 0;
                        width: 100%;
                        @include flex-row;
                        justify-content: space-between;

                        #location {
                            flex-direction: row-reverse;

                            span {
                                margin: 0 $base-spacing 0 $base-spacing * 2;
                            }
                        }

                        div {
                            width: 100%;
                            @include flex-row;
                            justify-content: flex-start;
                            align-items: center;
                            margin-bottom: $base-spacing * 4;

                            .cv-link {
                                color: $primary-lighter;
                                transition: 0.3s;

                                &:hover {
                                    color: $primary;
                                }
                            }

                            h4, a {
                                font-weight: normal;
                                font-size: 14px;
                                text-decoration: none;
                                color: white;
                            }

                            a {
                                pointer-events: auto;
                            }

                            span {
                                color: white;
                                font-size: 28px;
                                width: 30px;
                                text-align: center;
                                margin: 0 $base-spacing * 2 0 $base-spacing;

                            }
                        }

                        .list-item {
                            line-height: 4;
                            color: #aaa;

                            .contact-text a {
                                pointer-events: auto;
                            }
                                
                            &:hover {
                                color: #fff;
                                text-decoration: none;
                            }
                        }
                    }

                    .contact-icons {
                        @include flex-row;
                        justify-content: space-evenly;
                        align-items: flex-end;
                        pointer-events: auto;
                        position: relative;
                        font-size: 25px;
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        color: white;
                        padding-top: $base-spacing;
                        padding-bottom: $base-spacing *5;

                        li {
                            position: relative;
                            top: 0;
                            display: inline-block;
                            height: 40px;
                            width: 40px;
                            line-height: 40px;
                            // margin: 0 5vw;
                            border-radius: 50%;
                            color: #fff;
                            background-color: #fff;
                            cursor: pointer;
                            transition: all .2s ease-in-out;

                            &:hover {
                                background-color: black;
                            }
    
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 40px;
                                height: 40px;
                                line-height: 40px;
                                border-radius: 50%;
                                opacity: 0;
                                box-shadow: 0 0 0 1px $secondary;
                                transition: all .2s ease-in-out;
                            }

                            &:hover:after {
                                opacity: 1;
                                transform: scale(1.12);
                                transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);        
                            }

                            a {
                                pointer-events: auto;
                                color: black;
                            }

                            &:hover a {
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 375px) {
        #contact {
            h2 {
                padding-bottom: $base-spacing * 5;
            }
            .contact-wrapper {
                padding: 0 $base-spacing * 8;
                .contact-form {
                    #name, #email {
                        padding:$base-spacing * 2;
                    }
                    .form-box {
                        margin-bottom:  $base-spacing * 4;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 425px) {
        #contact {
            .contact-wrapper {
                #contact-flex {
                    .contact-details {
                        .contact-list { 

                            #location {
                                span {
                                    margin: 0 $base-spacing * 2 0 $base-spacing * 4;
                                }
                            }

                            div { 
                                span {
                                    font-size: 35px;
                                    margin: 0 $base-spacing * 4 0 $base-spacing * 2;
                                    width: 50px;
                                }

                                h4, a {
                                    font-size: 16px;
                                }
                            }
                        }

                        .contact-icons {
                            padding-bottom: $base-spacing *3;
                            font-size: 30px;

                            li {
                                height: 45px;
                                width: 45px;
                                line-height: 45px;
                                
                                &:after {
                                    width: 45px;
                                    height: 45px;
                                    line-height: 45px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 768px) {
        #contact .contact-wrapper #contact-flex .contact-details .contact-icons li {
            margin: 10px 60px;
        }
    }
}

    
