// @import "./nav-lines.scss";

@mixin nav {   
    nav, #botnav-button {
        position: fixed;
        display: flex;
        z-index: 99;
        justify-content: center;
        align-items: center;
        background-color: rgb(5, 39, 56);
        transition: 0.5s;

        &:hover {
          background-color: rgb(27, 61, 77);
        }

        a, #top-txt {
          // @include links;
              padding: $base-spacing;
              font-size: 25px;
              color: white;
              text-decoration: none;
              width: 120px;
              text-align: center; 
              position: relative;
              // margin: 0 $base-spacing * 2;
              height: 40px;
              transition: 0.5s;
      
              &:hover {
                  color: $primary-1;
              }
          }
    }

    nav {
        clip-path: ellipse(25% 100% at 50% 1%);
        top: -50px;
        height: 70px;
        width: 100vw;
    
        &:hover {
            top: 0;
        }
        
        a {
          bottom: 50px;
        }
    
        .bottom-zero {
            bottom: 0;
        }
    
        @include nav-lines-top;
    
    }

    #botnav-button {
        clip-path: ellipse(5% 100% at 50% 100%);
        height: 55px;
        width: 100vw;
        border: none;
        bottom: -40px;
        
        &:hover {
            bottom: -10px;
            // clip-path: ellipse(15% 100% at 50% 100%);
        }

        #top-txt {
          position: relative;
          bottom: -20px;
          font-size: 20px;

          &.move-bot-nav-txt {
            bottom: 0px;
          }
  
        }
    }

    @include nav-lines-bot;


    @media only screen and (min-width: 768px) {
        // nav > a {
        // //   display: unset;
        // }
      
        nav {
          clip-path: ellipse(55% 100% at 50% 1%);
          top: -50px;
          height: 70px;
  
          &:hover {
            top: -0px;
          }
      
          a {
            margin-bottom: 10px;
          }
        }
    }
    
    @media only screen and (min-width: 1024px) {
        nav {
          clip-path: ellipse(45% 100% at 50% 1%);
      
          &:hover {
            top: 0px;
          }
          a {
            margin-bottom: $base-spacing * 0.5;
            width: 120px;
            font-size: 25px;
          }
        }
      }
    
    @media only screen and (min-width: 1440px) {
        nav {
            a {
            width: 150px;
            font-size: 30px;
            }
        }
    }      
}  
