@mixin nav-lines {    
    #nav-icon,
    #go-to-top-icon {
        position: fixed;
        transition: 0.5s;
        @include flex-column;
        justify-content: space-between;

        span {
            z-index: 100;
            height: 2px;
            border-bottom: white solid 1px;
        }        
    }

    #nav-line-1,
    #nav-line-6 {
        width: 20px;
        transition: 0.2s;
        transition-delay: 0.1s;
    }    

    #nav-line-2,
    #nav-line-5 {
        width: 12px;
        transition: 0.2s;
        transition-delay: 0.2s;
    }
    
    #nav-line-3,
    #nav-line-4 {
        width: 8px;
        transition: 0.2s;
        transition-delay: 0.3s;
    }     
}

@mixin nav-lines-top {    
    div {
        top: 5px;
    }

    #nav-icon {
        height: 10px;
        transition: 1s;
        .navLineAnimate
        {
        width: 0;
        }
    }

    .moveNavIcon  {
    top: 99vh;
    }

    @media only screen and (min-width: 768px) {   
        #nav-icon {
            transition: 0.5s;
        }
        
        .moveNavIcon  {
            top: 55px;
        }
    }
}

@mixin nav-lines-bot {    
    #go-to-top-icon {
        bottom: 2px;
        height: 9px;
        // justify-content: space-around;

        &.moveGoToTopIcon {
            bottom: 20px;
        }
    }

    #go-to-top-icon .navLineAnimate {
        width: 0;
    }

    @media only screen and (min-width: 768px) {   
        #go-to-top-icon {
            &.moveGoToTopIcon {
                bottom: 30px;
            }
        }
    }
}