@import "./nav-lines.scss";
@import "./palette.scss";
@import "./animation.scss";

@mixin nav {

  nav,
  #bot-navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 99;
    align-items: center;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    a,
    #top-txt {
      padding: $base-spacing;
      font-size: 25px;
      color: white;
      text-decoration: none;
      width: 120px;
      text-align: center;
      position: relative;
      height: 40px;

      &:hover {
        color: $primary;
      }
    }
  }

  .nav-delay {
    transition: 0.7s ease-in 0.15s;
  }

  .nav-hover {
      height: 100vh;
      padding: 15vh 0;
      top: 0;
      clip-path: ellipse(100% 100% at 50% 20%);
      background-color: $primary-bg;
  }

  nav {
    z-index: 500;
    top: -50px;
    height: 70px;
    width: 100vw;
    clip-path: ellipse(60% 100% at 50% 1%);
    justify-content: space-around;
    background-color: $primary-bg-darker;
    @include nav-anim;
    @include nav-lines-top;

    .ignore-mouse {
      pointer-events: none;
    }

    .nav-span {
      @include flex-column;
      cursor: pointer;
      color: $secondary;
      font-size: 20px;
      margin: $base-spacing * 4 0;
      position: relative;
      bottom: 350px;
      @include nav-anim;
      width: 35px;
      height: 35px;

      // &:hover {
      //   transition: text-shadow 0.3s;
      //   text-shadow: 0 0 1px $secondary;
      // }
    }

    a {
      cursor: pointer;
      bottom: 350px;
      @include nav-anim;
    }

    .bottom-zero {
      bottom: 0;
    }
  }

  #bot-navbar {
    display: none;
    @include nav-lines-bot;

    #top-txt {
      position: relative;
      bottom: -20px;
      font-size: 20px;

      &.move-bot-nav-txt {
        bottom: 5px;
      }
    }
  }

  @media only screen and (min-width: 768px) {

    nav,
    #bot-navbar {
      display: flex;
      opacity: 1;
      flex-direction: row;
      justify-content: center;
      background-color: $primary-bg-darker;
      transition: 0.5s;

      &:hover {
        background-color: $primary-bg;
      }
    }

    nav {
      clip-path: ellipse(100% 100% at 50% 1%);
      top: -50px;
      height: 70px;

      .nav-span {
        display: none;
      }

      a {
        bottom: 50px;
        margin-bottom: 10px;
        transition: 0.5s;
      }
    }

    .nav-hover {
        top: 0;
        clip-path: ellipse(100% 100% at 50% 1%);
        height: 70px;
        padding: 0;
    }

    #bot-navbar {
      clip-path: ellipse(8% 100% at 50% 100%);
      height: 55px;
      width: 100vw;
      border: none;
      bottom: -40px;
      justify-content: center;
      display: flex;

      &:hover {
        bottom: -20px;
        clip-path: ellipse(20% 100% at 50% 100%);

      }

      #top-txt {
      transition: 0.5s;

        &.move-bot-nav-txt {
          bottom: 3px;
        }
      }
    }
  }

  @media only screen and (min-width: 1024px) {

    nav {
      clip-path: ellipse(45% 100% at 50% 1%);

      &:hover {
        top: 0px;
      }

      a {
        margin-bottom: $base-spacing * 0.5;
        width: 120px;
        font-size: 25px;
      }
    }

    #bot-navbar {
      clip-path: ellipse(5% 100% at 50% 100%);
    }
  }

  @media only screen and (min-width: 1440px) {
    nav {
      a {
        width: 150px;
        font-size: 25px;
      }
    }
  }
}