$dark-bg-primary: rgb(5, 39, 56);
$dark-bg-secondary: rgb(27, 61, 77);
$primary-1: #01929F;
$primary-1-darker: #01687A;
$light: rgb(240, 248, 236);
$brighter: #F1D302;
$brighter-dark: rgb(206, 190, 47);
$bright: #C1292E;
$bright-dark: rgb(212, 86, 18);