$primary-bg-darker: #052738;
$primary-bg-lighter: #2a5d75;
$primary-bg: #1b3d4d;
$primary: #01929F;
$primary-lighter: #61bac2;
$primary-darker: #00808b;
$secondary: #e3b505;
$tertiary: #fb3640;
$light-bg: #f6faf4;
